:root {
  --color-background: #21212C;
  --color-background-content: #292B3A;
  --color-layout: #343447;
  --color-layout-medium: rgba(64, 64, 64, .8);
  --color-layout-dark: rgba(31, 31, 31, .9);
  --color-layout-rate: #89c939;

  --text-primary: #fff;
  --text-secondary: #6A6C81;
  --text-subtitle: rgba(255, 255, 255, .45);

  --color-accent: #5C40F4;
  --color-gray-dark: #373a50;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--text-primary);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
