@import './../../variables';

$_: '.TrendCard';

.TrendCard {
    position: relative;
    height: 144px;

    @media(min-width: $screen-m) {
        height: 212px;
    }
  
    &_variant_second {
        display: flex;
        height: 92px;

        #{$_}-Poster {
            position: inherit;
            width: 164px;
            min-width: 164px;
            height: 100%;
        }

        #{$_}-Placeholder {
            width: 164px;
            height: 100%;
        }

        #{$_}-Number {
            position: absolute;
            top: 8px;
            left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 22px;
            height: 22px;
            font-size: 14px;
            background-color: var(--color-accent-red);
            border-radius: 50%;
        }
    }
    
    &-Poster {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: center no-repeat var(--color-placeholder);
        background-size: cover;
        border-radius: 6px;
    }

    &-Placeholder {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;

        background: linear-gradient(180deg, rgba(0, 0, 0, .06) 28.93%, rgba(0, 0, 0, .9) 100%);
        border-radius: 6px;
    }

    &-Number {
        display: none;
    }
}

