@import './../../variables';

.Card { 
    background-color: var(--color-layout);
    border-radius: 6px;

    &_width_small {
        width: 117px;
        background-color: transparent;

        @media(min-width: $screen-l) {
            width: 162px;
        }

        .Card-Thumb {
            height: 175px;
            border-radius: 4px;

            @media(min-width: $screen-l) {
                height: 243px;
            }
        }
    
        .Card-Thumb:hover {
            transform: translateY(-6px);
        }

        .Card-Content {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &_width_medium {
        width: 184px;

        @media(min-width: $screen-l) {
            width: 248px;
        }

        .Card-Thumb {
            height: 104px;

            @media(min-width: $screen-l) {
                height: 140px;
            }
        }
    }

    &_width_full {
        width: 100%;

        @media(min-width: $screen-s) {
            display: none;
        }

        .Card-Thumb {
            height: 184px;
        }

        .Card-Score {
            display: none;
        }
    }
    
    &-Link {
        display: block;
        text-align: left;
        color: inherit;
        text-decoration: none;
        cursor: pointer;    
    }
     
    &-Thumb {
        position: relative;
        height: 104px;
        background: center no-repeat var(--color-placeholder);
        background-size: cover;
        border-radius: 6px 6px 0 0;
    }  
    
    &-Poster {
        position: absolute;
        right: 10px;
        bottom: -10px;
        width: 100px;
        border-radius: 4px;
    }

    &-Details {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
    }

    &-Duration {
        padding: 2px 4px;
        font-size: 12px;
        line-height: 16px;
        background-color: var(--color-layout-dark);
        border-radius: 4px;
    }

    &-Rating{
        margin-right: 5px;
        padding: 2px 6px;
        font-weight: 700;
        font-size: 11px;
        background-color: var(--color-layout-rate);
        border-radius: 4px;
    }

    &-Score {
        padding: 2px 6px;
        font-size: 11px;
        background-color: var(--color-layout-medium);
        border-radius: 4px;

        &:before {
            content: '';
            position: relative;
            top: 1px;
            display: inline-block;
            width: 11px;
            height: 11px;
            margin-right: 3px;
            background: (url(//yastatic.net/s3/home-static/_/s/E/sMYY2M7l7Ha7UNPZlT11a3Fy0.svg) no-repeat 50% 50%);
            background-position: 0 0;
        }
    }

    &-Content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 12px;
        text-align: left;
    }

    &-Text {
        overflow: hidden;
    }

    &-Title {
        max-height: 32px;
        margin-bottom: 3px;
        overflow: hidden;
        font-size: 13px;
        color: var(--text-primary);
        text-overflow: ellipsis;
    }

    &-Subtitle {
        overflow: hidden;
        font-size: 12px;
        color: var(--text-subtitle);
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-LikeOrNot {
        display: flex;
        padding-left: 10px;
    }

    &-Dislike {
        margin-left: 15px;
        transform: rotate(180deg);
    }    
}

