@import './../../variables';

.Trends {
    margin-bottom: 20px;

    @media(min-width: $screen-m) {
        margin-top: 26px;
    }

    &-More {
        display: block;
        margin-top: 12px;
        padding: 10px 12px;
        font-size: 13px;
        text-align: center;
        color: var(--text-primary);
        text-decoration: none;
        background: var(--color-background-button);

        border-radius: 4px;

        @media(min-width: $screen-m) {
            display: none;
        }

        &:hover {
            background: var(--color-background-button-hover);
        }
    }

}