.Categories {
    &-Item {
        display: inline-block;
        color: var(--text-secondary);
        font-size: 16px;
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

}