$_: '.TrendDetails';

.TrendDetails {
    position: absolute;
    bottom: 12px;
    z-index: 100;
    padding-left: 10px;

    &_variant_second {
        position: static;
        padding-left: 12px;

        #{$_}-Label {
            display: none;
        }

        #{$_}-Title {
            font-size: 14px;
            line-height: 20px;
        }

        #{$_}-Count {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &-Label {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        font-size: 13px;
        line-height: 16px;
    }

    &-Icon {
        height: 16px;
        
        margin-right: 8px;
        color: var(--color-accent-red);
        border-radius: 50%;
    }

    &-Title {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    &-Count {
        color: var(--text-gray);
    }
}
