.Carousel {
    &-List {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        padding-left: 16px;
        margin-left: -16px;
        margin-right: -16px;

        &:after {
            content: '';
            flex: 0 0 16px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &::after {
            content: '';
            flex: 0 0 16px;
        }
    }

    &-Item {
        &_margin {
            &_s {
                margin-left: 8px;
            }

            &_m {
                margin-left: 12px;
            }

            &_l {
                margin-left: 16px;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
