.Carousel {
    &-Wrapper {
        position: relative;
    }

    &-List {
        display: flex;
        overflow-x: scroll;
    
        &::-webkit-scrollbar {
            display: none;
        }
    
        @media(max-width: 768px) {
            padding-left: 16px;
            margin-left: -16px;
            margin-right: -16px;

            &:after {
                content: '';
                flex: 0 0 16px;
            }
        }

        z-index: 0;
    }
    
    &-Item {
        &_margin {
            &_s {
                margin-left: 8px;
            }

            &_m {
                margin-left: 12px;
            }

            &_l {
                margin-left: 16px;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &-Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-TitleWrapper {
        min-height: 50px;
        box-sizing: border-box;
        padding: 8px 0;

        &_hidden {
            opacity: .4;
        }
    }

    &-Hide {
        width: 13px;
    }

    &-HideInfo {
        font-size: 14px;
    }

    &-Arrow {
        display: none;
    }

    @media(min-width: 768px) {
        .Carousel {
            &-Arrow {
                display: block;
                position: absolute;
                z-index: 1;
                top: calc(50% - 22px);
                width: 44px;
                height: 44px;
                box-sizing: border-box;
                padding: 10px;
                cursor: pointer;

                &:before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    transition: transform .15s ease-out;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 44px;
                    height: 44px;
                    background: var(--color-background);
                }

                &:hover:before {
                    transform: translate(-50%, -50%) scale(1.1);
                }


                &_left {
                    transform: rotate(180deg) translateX(50%);
                    left: 0;
                }

                &_right {
                    transform: translateX(50%);
                    right: 0;
                }
            }
        }
    }
}
