.Header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    box-sizing: border-box;

    &-Logo {        
        font-size: 28px;
        line-height: 16px;
        font-weight: 300;
    }

    .Ya-Logo {
        font-weight: 500;
    }

    &-Search {
        position: absolute;
        margin-right: 16px;
        right: 0;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@media(min-width: 440px) {
    .Header {
        justify-content: flex-start;
        height: 66px;
        padding: 14px 16px;

        &-Logo {
            margin-right: 16px;
        }

        &-Search {
            position: relative;
            right: initial;
        }
    }
}