@import './../../variables';

.Channels {
    display: none;    

    @media (min-width: $screen-m) {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 240px;
        padding: 20px 0;
        padding-top: 20px;
        font-size: .81em;
        line-height: 16px;
        color: var(--text-primary);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: -1;
            display: block;
            width: 100%;
            height: 800px;
            background-image: linear-gradient(-180deg,var(--color-background-content) 0,var(--color-background) 100%);
        }
    
        &-Category {
            display: none;

            @media(min-width: $screen-l) {
                display: block;
                padding: 16px 0;
                padding-left: 17px;
                font-size: 11px;
                color: var(--text-gray);
                letter-spacing: .8px;
                opacity: .6;
            }
        }
    
        &-Item {
            display: flex;
            align-items: center;
            height: 38px;
            margin: 0 15px;
            line-height: 14px;
            white-space: nowrap;
            cursor: pointer;
            opacity: .4;

            @media(min-width: $screen-l) {
                margin: 0 12px;
                padding-left: 20px;
        
                &:first-child {
                    padding-left: 9px;
        
                    & > a {
                        padding: 0 10px;
                    }
                }
            }
    
            &:hover {
                background: var(--color-background-button-hover);
                border-radius: 6px;
                opacity: 1;
            }
    
            &:first-child {
                margin-bottom: 15px;
    
                &:hover {
                    background: var(--color-background-content);
                }
            }
        }
    
        &-Link {
            display: none;

            @media(min-width: $screen-l) {
                display: inline;
                padding: 0 12px;
                overflow: hidden;
                color: inherit;
                text-decoration: none;
                text-overflow: ellipsis;
            }
        }
    
        &-Icon {
            width: 26px;
            height: 26px;
            background-image: url('https://yastatic.net/s3/home-static/_/V/o/VnJsK_KHhpNZeHJ2fl04KeQQc.svg');
            background-size: auto 26px;
        }
        
    }

    @media(min-width: $screen-l) {
        padding-right: 13px;
    }   
}