.Channels {
    width: 240px;
    padding-top: 20px;
    background-color: var(--color-background-content);

    @media (max-width: 768px) {
        display: none;
    }

    &-Item {
        display: block;
        padding: 16px 13px 16px 32px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .55px;
        white-space: nowrap;
        opacity: .6;
    }

    &-Link {
        display: inline-block;
        padding: 0 12px;
        vertical-align: middle;
        color: var(--text-subtitle);
        text-decoration: none;
    }

    &-Icon {
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        background-size: auto 26px;
    }
}