
$_: '.TrendsList';

.TrendsList {

    &_variant_second {

        #{$_}-Item {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-Item {
        margin-bottom: 8px;


        &:last-child {
            margin-bottom: 0;
        }
    }
}