@import './../../variables';

$_: '.TrendsList';

.TrendsList {

    @media(min-width: $screen-m) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 4px; 
    }
    
    @media(min-width: $screen-l) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    @media(min-width: $screen-xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &_variant_second {

        #{$_}-Item {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-Item {
        margin-bottom: 8px;


        &:last-child {
            margin-bottom: 0;
        }
    }
}

