@import './../../variables';

.Scroller {
    display: flex;
    flex-direction: row;
    margin-right: -16px;
    margin-left: -16px;
    padding-top: 6px;
    padding-left: 16px;
    overflow-x: scroll;
    transition: margin-left .25s linear;

    &:after {
        content: '';
        flex: 0 0 16px;

        @media(min-width: $screen-s) {
            display: none;
        }
    }    

    &::-webkit-scrollbar {
        display: none;
    }
}