@import './../../variables';

.SmallCard {
    position: relative;
    display: flex;
    width: 100px;
    height: 160px;
    overflow: hidden;
    background: center no-repeat var(--color-placeholder);
    background-size: cover;
    border-radius: 6px;

    @media(min-width: $screen-l) {
        width: 126px;
        height: 200px;
    }

    &-Placeholder {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;

        background: linear-gradient(180deg, rgba(0, 0, 0, .06) 28.93%, rgba(0, 0, 0, .9) 100%);
    }

    &-Icon {
        
        position: absolute;
        top: 10px;
        left: 10px;
        height: 28px;
        color: var(--text-primary);
        border-radius: 50%;
        box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, .2);
    }

    &-Footer {
        position: relative;
        display: -webkit-box;
        max-height: 32px;
        margin: 10px;
        margin-top: auto;
        overflow: hidden;
        font-size: 13px;
        line-height: 16px;

        text-align: left;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        opacity: .9;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}