.SmallCard {
    height: 160px;
    width: 100px;
    border-radius: 6px;
    display: flex;
    position: relative;
    overflow: hidden;

    background-size: cover;

    &-Placeholder {
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;

        background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 28.93%, rgba(0, 0, 0, 0.9) 100%);
    }

    &-Icon {
        top: 10px;
        left: 10px;
        height: 28px;
        
        position: absolute;

        border-radius: 50%;
        box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);
    }

    &-Footer {
        margin: 10px;
        margin-top: auto;
        position: relative;

        text-align: left;
        font-size: 13px;
        opacity: .9;
        max-height: 32px;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}